{% extends 'catalog/base.html' %}
{% load mediapath %}


{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <img src="{% mediapath object.image %}" alt="Картинка" width="200" height="200"/>
                    <tr>
                        <td>Заголовок</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Содержимое</td>
                        <td>{{ object.content }}</td>
                    </tr>

                    <tr>
                        <td>Дата публикации</td>
                        <td>{{ object.created_at }}</td>
                    </tr>
                    <tr>
                        <td>Количество просмотров</td>
                        <td>{{ object.view_count }}</td>
                    </tr>

                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'blog:post_list' %}" class="btn btn-primary"><< Назад</a>
                </a>
            </div>
        </div>
    </div>
{% endblock %}