{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>{{ title }}</title>#}
    {% for object in product_list %}
        <div class="col-lg-4">
            <div class="card m-2 text-center">
                <div class="card-body">
                    {#            <img src="{% static "/media/images/apple.jpg" %}" alt="My image">#}
                    {% if  object.preview %}
                        <img src={{ object.preview.url }} class="rounded-circle" alt={{ object.name }} width="140" height="140">
                    {% endif %}
                    {#            <img src="{{ object.preview.url }}"  alt="image">#}
                    {#            <img class="rounded-circle"#}
                    {#                 src="{% object.preview.url %}"#}
                    {#                 alt="Generic placeholder image" width="140" height="140">#}
                    <h2>{{ object.name | title }}</h2>
                    <p>{{ object.description | title}}</p>
                    <p><a class="btn btn-secondary" href="{% url 'main:product_item' object.pk %}" role="button">Подробнее >></a></p>
                    <p><a class="btn btn-warning" href="{% url 'main:product_update' object.pk %}" role="button">Редактировать >></a></p>
                    <p><a class="btn btn-danger" href="{% url 'main:product_delete' object.pk %}" role="button">Удалить >></a></p>

                </div>
            </div>
        </div>
    {% endfor %}
</head>
<body>

</body>
</html>