{% extends 'catalog/base.html' %} <!-- Выводит базовый html (верхняя, базовая часть сайта) -->

{% block content %}  <!-- ШАБЛОННЫЙ ТЕГ for content -->

    <main>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-12">   <!-- кнопка Создать студента -->
                <a href="{% url 'skychimp:customer_create' %}" class="btn btn-primary m-2">Создать клиента</a>
            </div>
            {% for object in object_list %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <h6 class="card-title pricing-card-title">{{ object.email }}</h6>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="card-title pricing-card-title">{{ object.message }}</li>
                        </ul>

                        <p><a class="btn btn-secondary" href="{% url 'skychimp:customer_view' object.pk %}">Посмотреть
                            &raquo;</a></p>
                        <p><a class="btn btn-warning" href="{% url 'skychimp:customer_update' object.pk %}">Изменить
                            &raquo;</a></p>
                        <p><a class="btn btn-danger" href="{% url 'skychimp:customer_delete' object.pk %}">Удалить
                            &raquo;</a></p>

                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}   <!-- закрытие ШАБЛОННЫЙ ТЕГ for content -->