{% extends 'catalog/base.html' %}
{% load sending_count %}
{% load active_sending_count %}
{% load active_customer_count %}

<body>
{% block content %}
    {% if user.is_authenticated %}
        <div class="heading-text">
        <div class="col-6">
            <h5> Сервис рассылки сообщений</h5>
        </div>
            <div class="col">
                <div class="card shadow-sm text-center" style="background: #e0e0e0">
                    <figure class="p-3 mb-0">
                        Создано рассылок: {% sending_count %}.<br>
                        <br>
                        Количество активных рассылок: {% active_sending_count %}.<br>
                        <br>
                        Количество уникальных клиентов: {% active_customer_count %}
                    </figure>
                </div>
            </div>
        <div class="col-12">
            {% for object in random_blog_posts %}
                {% include 'blog/includes/inc_post_card.html' %}
            {% endfor %}
        </div>
        </div>
    {% else %}
        Вы не авторизованы
    {% endif %}
{% endblock %}

{#{% block content %}#}
{#    {% if user.is_authenticated %}#}
{#    {% include 'catalog/includes/inc_product_card.html' %}#}
{#    {% else %}#}
{#    Вы не авторизованы#}
{#    {% endif %}#}
{#{% endblock %}#}
</body>